@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: hsla(240, 83%, 40%, 0.094);
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #19191a;
  --white-color-alt: hsla(240, 83%, 40%, 0.094);
--dark-color: hsla(240, 83%, 40%, 0.094);
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}

/* -- BODY -- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: var(--white-color);
}

/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}
.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 650;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* ================= MAIN ================ */

/* -------- HOME SECTION -------------- */
.section-1 {
  background-color: var(--dark-color);
  display: grid;
}
/* .home-computer-container {} */
.slogan .company-title {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5rem;
  margin-left: 8rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.slogan .company-slogan {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  margin-left: 8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
/* -------- OFFER SECTION ------------- */
.section-2 {
  margin: 2rem 0;
}
.offer {
  background-color: var(--dark-color);
  margin: 1rem 0;
  display: grid;
}
.offer img {
  background-color: var(--dark-color);
  padding: 2rem 0;
}
.offer-1 img {
  background-color: var(--dark-color);
  padding: 3rem 0;
}
.offer-description {
  background-color: var(--white-color-alt);
  padding: 0 1rem;
}

.offer-description .offer-hook {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 400;

}
.offer-description .cart-btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-alt),
    var(--primary-color)
  );
}
html {
  width: auto;
  height: 100%;
}
.box {
  height: 3rem;
  width: 3rem;
  margin-bottom: 3rem;
  margin-top: -3rem;
  border-radius: 3rem;
  margin-left: 2rem;
  background-image: url('men.jpg');
  background-size: cover;
}
.text{
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 4rem;
}

#submit:hover {
-moz-transition-property: background;
-moz-transition-timing-function: ease-in-out;
-moz-transition-duration: 0.3s;
-webkit-transition-property: background;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-duration: 0.3s;
transition-property: background;
transition-timing-function: ease-in-out;
transition-duration: 0.3s;
color: #fafafa !important;
border:1px solid #2a3556 !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f93e1', endColorstr='#4668af', GradientType=0 ); /* ie */
}
#submit:active {
color: #ffffff !important;
  border:1px solid #3d4f8b !important;
  background: #4668af; /* old browsers */
  background: -moz-linear-gradient(top, #4668af 0%, #6f93e1 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4668af), color-stop(100%,#6f93e1)); /* webkit */
  background: linear-gradient(top, #4668af 0%, #6f93e1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4668af', endColorstr='#6f93e1', GradientType=0 ); /* ie */
  -moz-box-shadow:inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow:inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
  box-shadow:inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
}
#text-box {
float:none;
clear:both;
background: #ffffffef;
padding: 6px;
margin-left: 10px;
width: 95%;/*Media*/
height: 100px;
font-family: 'Merriweather Sans', sans-serif;
font-size: 14px;
border: 1px solid #06111e;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#text-box:focus {
background-color: #f9f9f9;
border-color: #82aee8;
outline: none;
-moz-box-shadow: 0 0 0 1px #82aee8 inset;
-webkit-box-shadow: 0 0 0 1px #82aee8 inset;
box-shadow: 0 0 0 1px #82aee8 inset;
}
#submit {
  float: right;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: -500px;
  -moz-border-radius:.2em;
  -webkit-border-radius:.2em;
  border-radius:5rem;
  padding:10px 25px;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(55, 56, 86, 0.763);
}
fieldset {
border: 0;
}
#post-container {
background: #ffffff;
text-align: left;
margin-left: 110px;
margin-right: 10px;
width: auto;
height: auto;
border-radius: 10px;
box-shadow: 0 1px 1px rgb(184, 5, 5) inset, 0 1px 0 rgba(255,255,255,.2);
}
.posted {
margin-top: 30px;
padding: 5px;
}
.post {
position: relative;
border-top: 2px dotted #6c0606;
font-family: 'Merriweather Sans', sans-serif;
margin-top: 20px;
}
.post h4{
font-size: 0.9em;
font-weight: normal;
line-height: 1.5em;
text-transform: uppercase;
margin-top: -0.75em;
text-align: center;
}
.post h4 span {
background: #970d0d75;
padding: 0 5px;
}
.pcontent {
position: relative;
padding: 20px;
}
#TimeSub {
position: relative;
margin-left: 1em;
font-size: .6em;
}

.inputs span.counter {
float: right;
color: #ffffff;
font-size:10px;
padding:20px;
}

.inputs p.info {
font-size: 11px;
color: #000;
float:left;
padding:5px;
}
.inputs p.info > span {
color: #a50505; 
}

/* -------- SPONSOR SECTION ----------- */
.section-4 {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.sponsor img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: opacity 300ms;
}
.sponsor img:hover {
  /* filter: grayscale(0); */
  opacity: 1;
}

/* ========= SUBSCRIBE SECTION ========== */
.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.subscribe-input-label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: blue;
}
input[type="text"] {
  padding: 0 1rem;
  font-size: 1.1rem;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: hsl(220, 33%, 90%);
  color: black;
  transition: background-color 300ms;
  border-radius: 3rem;
}
input[type="text"]:focus {
  outline: none;
  background-color: hsl(220, 33%, 95%);
}
input[type="text"]::placeholder {
  color: var(--second-color-alt);
}
input[type="submit"] {
  cursor: pointer;
  background-color: rgba(58, 58, 124, 0.509);
  margin: 1rem 0;
  border: none;
  width: 90%;
  height: 2.6rem;
  font-size: 1rem;
  transition: color 300ms;
  border-radius: 3rem;
}
input[type="submit"]:hover {
  background-color: rgb(9, 9, 77);
  color: var(--white-color);
}
/* =============== FOOTER =============== */
.top-footer {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
  background-image: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-items h3 {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.1rem 0;
  color: var(--white-color-alt);
}
.footer-items h3:hover {
  text-decoration: underline;
}
.footer-items h3:last-child {
  padding-bottom: 2rem;
}
.end-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
}
.copyright {
  color: var(--white-color-alt);
  padding: 1rem 0;
  font-size: 0.9rem;
}
.copyright b {
  font-weight: inherit;
  font-size: 0.9rem;
}
.designer {
  color: hsla(0, 0%, 98%, 0.541);
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.designer:hover {
  text-decoration: underline;
}
/* =============== MEDIA QUERIES ======= */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: var(--dark-color);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
@media (min-width: 769px) {
  header {
    padding: 1rem 5rem;
  }
  /* ================= MAIN ================ */

  /* -------- HOME SECTION -------------- */
  .section-1 {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 5rem 0 5rem;
  }
  .slogan .company-title {
    max-width: 30rem;
    font-size: 1.8rem;
    margin-left: 35rem;
    margin-top: -5rem;
    letter-spacing: 0.5rem;
  }
  .slogan .company-slogan {
    width: 100%;
    margin-left: 18rem;
    font-size: 1.3rem;
  }
  /* -------- OFFER SECTION ------------- */
  .section-2 {
    margin: 2rem 5rem;
  }
  .offer {
    margin: 5rem 0;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: auto auto;
  }
  .offer-1 {
    grid-template-areas: "offer-1-img offer-desc-1";
  }
  .offer-1 img {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 16rem;
    width: 36rem;
    height: 30rem;
    margin-left: 7rem;

  }
  .offer-2 {
    grid-template-areas: "offer-desc-2 offer-2-img";
  }
  .offer-2 img{
    background-color: rgba(226, 226, 226, 0);
    width: 30rem;
    height: 25rem;
    margin-right: 7rem;
  }
  .offer-1-img {
    grid-area: offer-1-img;
  }
  .offer-2-img {
    grid-area: offer-2-img;
  }
  .offer-desc-1 {
    grid-area: offer-desc-1;
  }
  .offer-desc-2 {
    grid-area: offer-desc-2;
  }
  .offer-description .offer-title {
    font-size: 1.9rem;
    padding: -1rem 0 4rem 0;
  }
  .offer-description .offer-hook {
    max-width: 30rem;
  }
  .offer-description {
    background-color: var(--white-color-alt);
    margin-right: 5rem;
    margin-left: 10rem;
    margin-top: -10rem;
    background-color: rgba(240, 248, 255, 0);
  }
  .offer-description .offer-title {
    padding: 10rem  10rem ;
    height: 2rem;
  }
  
  /* -------- PRODUCT SECTION ----------- */
  .section-3 {
    gap: 5rem;
  }
  .product::before {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 300ms;
  }
  .product:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .product_add_cart {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .product:hover .product_add_cart {
    transform: translate(-50%, -50%) scaleY(1);
    transform-origin: top;
  }
  /* -------- SPONSOR SECTION ----------- */
  .section-4 {
    margin: 5rem 0;
  }
  /* ========= SUBSCRIBE SECTION ========== */
  .section-5 {
    padding: 1rem 0;
  }
  .section-5 .subscribe-container {
    display: flex;
    align-items: center;
  }
  input[type="text"] {
    padding: 0 1rem;
    width: 25rem;
  }
  input[type="submit"] {
    width: 12rem;
  }
  /* =============== FOOTER =============== */
  html,body {
    background-color: #070617;
  }
  
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #47456143;
    margin-top: 75px;

  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(254, 254, 254);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #9ea2cd;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }